# Python and SQL: intro / SQL platforms 

## Class 2: If statements – conditions, comparisons, nesting

# Useful Keyboard Shortcuts in Jupyter Notebook

## Windows
- **Ctrl + Enter:** Run the current cell.  
- **Shift + Enter:** Run the current cell and move to the next one.  
- **Ctrl + Shift + -:** Split the current cell into two at the cursor position.  
- **Ctrl + Z:** Undo the last change.  
- **Ctrl + /:** Toggle comment on the selected code.  

## Mac
- **⌘ + Enter:** Run the current cell.  
- **Shift + Enter:** Run the current cell and move to the next one.  
- **⌘ + Shift + -:** Split the current cell into two at the cursor position.  
- **⌘ + Z:** Undo the last change.  
- **⌘ + /:** Toggle comment on the selected code.

<p><strong>Installing and Loading Packages in Python</strong></p>
<p>&nbsp;</p>
<p>Python is a programming language with a <strong>minimalist core</strong>, which means it includes only basic functions such as operations on numbers, strings, files, or loops. However, its real power comes from <strong>packages</strong> (libraries) that extend Python’s capabilities with advanced features.</p>
<p><strong>Installing</strong> and <strong>loading packages</strong> allows you to use these extensions, saving time and effort for the programmer.</p>
<p>We install packages to gain access to:</p>
<ul>
<li>
<p>Additional tools and functions</p>
</li>
<li>
<p>Specialized tools for specific purposes</p>
</li>
<li>
<p>Optimized performance</p>
</li>
<li>Ready-made solutions to problems</li>
</ul>
<p style="text-align: center;">***</p>
<p><strong>1. How to Install Libraries in Python (Installation is done only once for a given Python environment)</strong></p>
<p><code>pip install library</code> - used to install external Python libraries that are available in the Python Package Index (PyPI: <a href="https://pypi.org/">https://pypi.org/</a>).</p>
<p>For example:</p>
<p>a. type in cmd: <code>pip install numpy</code></p>
<p>b. in Jupyter Notebook: <code>!pip install numpy</code></p>
<p><strong>2. Loading Libraries in Python</strong></p>
<p><code>import library</code> - loading a library allows you to use its functions, classes, and variables. Loading must be done in every new session.</p>
<p>a. <code>import library</code> for example <code>import numpy</code></p>
<p>b. importing with an alias <code>import numpy as np</code></p>
<p><strong>3. To check if a library is already installed</strong> <code>!pip show numpy</code></p>

<h2 style="text-align: center;">1. If statements</h2>

#### Conditional Statements

One of the fundamental elements of programming (in any language) is the use of conditional statements.  
If we want a set of commands to be executed only when a certain condition is met, we can use the `if` statement.

**Basic syntax:**  
`if CONDITION: COMMAND`

If the CONDITION is met (the expression describing it is true), the COMMANDS are executed.  
If it is not met, nothing happens — no command is executed.

In [7]:
# 1. Install the libraries
%pip install numpy pandas matplotlib

# 2. Import the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Check if it works
print(f"NumPy version: {np.__version__}")
print(f"Pandas version: {pd.__version__}")

Requirement already satisfied: numpy in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (2.1.3)
Requirement already satisfied: pandas in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: matplotlib in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (3.10.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: six>=1.5 in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
NumPy version: 2.1.3
Pandas version: 2.2.3

In [8]:
# one liner 
a = 10

if a > 0: print("positive number")

positive number

In [9]:
# with indentation
a = 10

if a > 0: 
    print("positive number")

positive number

# Explanation:

1. Assigning a value: In Python, we assign a value to a variable using the = sign.

2. Conditional statement: In Python, we use if, followed by a condition and then a colon (:).

3. Code block: The code to be executed inside the if statement must be indented (Python uses indentation instead of curly braces {}).

4. Printing to the screen: The print() function in Python is used to display text on the screen.

If we use an expression whose result is a number (or a number directly) as the condition — only the value `0` is treated as false (`FALSE`), while all other values are treated as true (`TRUE`):

In [10]:
if -1.4: print("The condition is met")

The condition is met

In [11]:
if 0: print("The condition is met")

In [12]:
if 3^5: print("The condition is met")

The condition is met

### NOTE!
If a numeric or logical vector is provided as the CONDITION in an `if` statement, **only its first element** will be taken into account!

In [13]:
if 1:4 > 0: print("Positive number")  # this error is intentional :) it indicates invalid syntax in the code.

SyntaxError: illegal target for annotation (866079617.py, line 1)

### Explanation:

The code `if 1:4 > 0:` does not work because:

* `1:4` is invalid syntax in Python.  
* Python does not support directly comparing entire ranges with numbers.

The syntax of the `if` statement can optionally be extended by specifying which commands should be executed when the condition is **not** met:  
`if CONDITION: what if TRUE else: what if FALSE`.

In Python, we do not use curly braces `{}` — instead, we use indentation.  
The `else` statement must appear directly after the `if` block, and its contents must be indented properly.

<p>if CONDITION:<br />
# What to do when the condition is met<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;print("<span style="color: #99cc00;">What if TRUE</span>")<br />
else:<br />
# What to do when the condition is NOT met<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print("<span style="color: #ff0000;">What if FALSE</span>")</p>

In [14]:
a = -1
if a > 0:
  print("Positive")
else:
  print("Negative")

Negative

In [15]:
a = 1
if a > 0:
  print("Positive")
else:
  print("Negative")

Positive

In Python, the one-line `if...else` conditional statement has a specific syntax.  
You cannot use a colon (`:`) after `else` on the same line.

In [16]:
a = 1
print("Positive") if a > 0 else print("Negative")

Positive

The syntax can also be extended for multiple conditions:  
`if CONDITION1: what if TRUE elif CONDITION2: what if TRUE elif ... else: what in other cases`

### Important notes:
- `elif` is equivalent to `else if` in other programming languages (e.g., R or C).  
- You can have any number of `elif` statements.  
- The `else` statement is optional — you can omit it if there is no need to handle cases where none of the conditions are met.

<p>if CONDITION1:<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;# What to do when CONDITION1 is met<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;print("What if TRUE for CONDITION1")<br />
elif CONDITION2:<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;# What to do when CONDITION2 is met<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;print("What if TRUE for CONDITION2")<br />
elif CONDITION3:<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;# What to do when CONDITION3 is met<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;print("What if TRUE for CONDITION3")<br />
else:<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;# What to do in all other cases<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;print("What in the remaining case")</p>

In [17]:
a = 0

if a > 0:
    print("Positive")
elif a < 0:  
    print("Negative")
else:
    print("zero")

zero

We can also use a compound condition — one consisting of a conjunction (logical AND, operator `&`) or a disjunction (logical OR, operator `|`) of several conditions.

In [18]:
a = 6

# conjunction (and)
if 0 <= a <= 5:  # Python supports writing ranges in this way
    print("a belongs to the interval [0, 5]")
else:
    print("a does NOT belong to the interval [0, 5]")

# disjunction (or)
if a < 0 or a > 5:  # Instead of `|`, Python uses `or` for disjunction
    print("a does NOT belong to the interval [0, 5]")
else:
    print("a belongs to the interval [0, 5]")

a does NOT belong to the interval [0, 5]
a does NOT belong to the interval [0, 5]

### Explanation:

1. **Conjunction (and):**  
   In Python, you can write ranges in a simple way: `0 <= a <= 5`.  
   This is equivalent to `a >= 0 & a <= 5` in R.

2. **Disjunction (or):**  
   In Python, instead of `|`, the keyword `or` is used.

3. **Conditional statement:**  
   Python requires a colon (`:`) after each `if` and `else` statement.

4. **Code blocks:**  
   In Python, indentation is used instead of curly braces `{}`.

**NEGATION:**  
The list of logical operations also includes negation — the denial of a logical statement, whose operator is the exclamation mark `!`:

In [19]:
a = 0
if a != 0: 
    print("Zero") 
else:
    print("Other")

Other

<h2 style="text-align: left;">Let’s summarize the relational and logical operators in one place</h2>
<p><strong>Relational operators:</strong></p>
<ol>
<li>`==` - equal</li>
<li>`!=` - not equal</li>
<li>`<=`, `>=` - less than or equal to, greater than or equal to</li>
<li>`<`, `>` - less than, greater than</li>
</ol>
<p><strong>Logical operators:</strong></p>
<ol>
<li>`&` - conjunction (and), logical multiplication</li>
<li>`|` - disjunction (or), logical addition</li>
<li>`!` - negation (not) of a logical statement</li>
</ol>

<h2>The vectorized equivalents of the `if` statement are:</h2>
<p>1. List comprehension – a concise way to create new lists based on existing iterable objects.</p>
<p>2. numpy.where()</p>
<p>With these tools, you can efficiently work with vectorized conditions in Python.</p>

##### 1. List comprehension

In [20]:
# a. simple

# x = -5: "negative number"
# x = -4: "negative number"
# x = -3: "negative number"
# x = -2: "negative number"
# x = -1: "negative number"
# x = 0: "negative number"
# x = 1: "positive number"
# x = 2: "positive number"
# x = 3: "positive number"
# x = 4: "positive number"

["positive number" if x > 0 else "negative number" for x in range(-5, 5)]

['negative number',
 'negative number',
 'negative number',
 'negative number',
 'negative number',
 'negative number',
 'positive number',
 'positive number',
 'positive number',
 'positive number']

In [21]:
# b. nested
["positive number" if x > 0 else ("negative number" if x < 0 else "zero") for x in range(-5, 5)]

['negative number',
 'negative number',
 'negative number',
 'negative number',
 'negative number',
 'zero',
 'positive number',
 'positive number',
 'positive number',
 'positive number']

### Explanation

1. `range(-5, 6)` – Creates numbers from -5 to 5 (Python’s `range` works on the principle `[start, stop)` — the stop value is not included).  
2. **List comprehension:** Iterates through each value `x` in the range.  
3. **Nested conditions:**
   * If `x > 0`: `"positive number"`.
   * If `x < 0`: `"negative number"`.
   * Otherwise (i.e., `x == 0`): `"zero"`.

##### 2. numpy.where()

NumPy (Numerical Python) is one of the core Python libraries for numerical computations.  
It is very popular in data science, scientific computing, and machine learning because it provides efficient data structures such as multidimensional arrays (`ndarray`), as well as a wide range of functions for manipulating this data.

In [22]:
# These operations only need to be performed once
# 1. In cmd, type:
%pip install numpy
# 2. Or run in Jupyter Notebook:
# !pip install numpy

Requirement already satisfied: numpy in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [23]:
!pip3 install numpy
import numpy as np  # Loading the package in the Jupyter Notebook session with the alias `np`

Requirement already satisfied: numpy in /home/ondrej-marvan/anaconda3/lib/python3.13/site-packages (2.1.3)

In [24]:
# a. simple
np.where(np.arange(-5, 5) > 0, "positive number", "negative number")

array(['negative number', 'negative number', 'negative number',
       'negative number', 'negative number', 'negative number',
       'positive number', 'positive number', 'positive number',
       'positive number'], dtype='<U15')

In [25]:
# b. nested
np.where(np.arange(-5, 5) > 0, "positive number", np.where(np.arange(-5, 5) < 0, "negative number", "zero"))

array(['negative number', 'negative number', 'negative number',
       'negative number', 'negative number', 'zero', 'positive number',
       'positive number', 'positive number', 'positive number'],
      dtype='<U15')

<h3 style="text-align: center;"><strong>Pandas</strong></h3>
<p><strong>Pandas</strong> is one of the most popular Python libraries for data analysis and manipulation. Its name comes from the term "<strong>Panel Data</strong>" and it is widely used in data science, business analytics, finance, machine learning, and many other fields.</p>
<p>Pandas makes working with data easier by offering:</p>
<ol>
<li>
<p><strong>Data structures:</strong></p>
<ul>
<li><strong><code>Series</code></strong>: One-dimensional structures (similar to vectors in R or columns in Excel).</li>
<li><strong><code>DataFrame</code></strong>: Two-dimensional structures (similar to tables in Excel or Google Sheets).</li>
</ul>
</li>
<li>
<p><strong>Advanced data processing functions:</strong></p>
<ul>
<li><strong>Loading data</strong> from various sources:
<ul>
<li>CSV, Excel, SQL, JSON files, etc.</li>
</ul>
</li>
<li><strong>Filtering, sorting, and manipulating data.</strong></li>
<li><strong>Creating new columns</strong> based on existing data.</li>
<li><strong>Grouping and aggregating</strong> data.</li>
<li><strong>Handling missing data.</strong></li>
</ul>
</li>
<li>
<p><strong>Integration with other libraries:</strong></p>
<ul>
<li>Pandas works seamlessly with libraries such as NumPy, Matplotlib, etc.</li>
</ul>
</li>
</ol>
<h3><strong>Why is Pandas popular?</strong></h3>
<ul>
<li><strong>Intuitiveness:</strong> Pandas allows you to write code that is clear and easy to understand.</li>
<li><strong>Versatility:</strong> It supports various data types and file formats.</li>
<li><strong>Performance:</strong> It is optimized for processing large datasets.</li>
<li><strong>Community support:</strong> Pandas has rich documentation and a large user community.</li>
</ul>

<h2 style="text-align: center;">Other Solutions Related to Conditional Processing</h2>

### case_when() - pandas

In the case of many nested `if/else` conditions, it may be more convenient to use the `case_when()` function from the `pandas` library.

The arguments are processed in the given order, so their sequence matters.

In [26]:
# These operations only need to be performed once
# 1. In cmd, type:
# pip install pandas
# 2. Or run in Jupyter Notebook:
# !pip install pandas
# !pip3 install pandas

In [27]:
a = np.arange(-5, 6)
print(a)
# Zastosowanie warunków za pomocą np.select()
a.case_when(
    [
        (a < 0, "ujemna"), 
        (a == 0, "zero"),
        (a > 0, "dodatnia"),
    ]
)

# celowy błąd np pakiet nie ma opcji case_when :)

[-5 -4 -3 -2 -1  0  1  2  3  4  5]

AttributeError: 'numpy.ndarray' object has no attribute 'case_when'

In [28]:
# case_when is from the pandas package :)
import pandas as pd
a = pd.DataFrame(
    {"column a": np.arange(-5, 6)}
)
# print(a)
# Applying conditions using np.select()
a["column b"] = pd.Series(index=a.index).case_when(
    [
        (a["column a"] < 0, "negative"),
        (a["column a"] == 0, "zero"),
        (a["column a"] > 0, "positive"),
        (pd.Series(True), np.nan)
    ]
)

print(a)

    column a  column b
0         -5  negative
1         -4  negative
2         -3  negative
3         -2  negative
4         -1  negative
5          0      zero
6          1  positive
7          2  positive
8          3  positive
9          4  positive
10         5  positive

In [29]:
import pandas as pd

# https://katalyzedata.com/tips-tricks/how-to-use-pandas-case_when/

# Creating a dataset
np.random.seed(42)  # Setting the random seed since we’re using np.random

df = pd.DataFrame(
{
    "A": np.random.choice(list("ABC"), 10, replace=True),     # Randomly select 10 elements from the list "ABC" with replacement
    "B": np.random.choice(list("XYZ"), 10, replace=True),     # Randomly select 10 elements from the list "XYZ" with replacement
    "C": np.random.choice(10, replace=False),                 # Generate 10 random numbers from the range [0, 9] without replacement
    "D": pd.date_range("2020-01-01", periods=10, freq="D"),   # Generate dates from Jan 1, 2020, to Jan 10, 2020, with daily frequency
}
)

df["E"] = df["C"].case_when(
    [
        (df["A"] == "A", 0),            # if column A == "A", assign 0
        (df["C"] < 0.25, -df["C"]),     # if column C < 0.25, assign the negative value of column C
        (df["B"] == "Y", -100000000),   # if column B == "Y", assign -100 million
        (pd.Series(True), np.nan)       # if none of the above conditions are met, assign NaN
    ]
)

# Display settings
pd.set_option('display.float_format', '{:.2f}'.format)

df

   A  B  C          D             E
0  C  Z  6 2020-01-01           NaN
1  A  Z  6 2020-01-02          0.00
2  C  X  6 2020-01-03           NaN
3  C  Z  6 2020-01-04           NaN
4  A  Y  6 2020-01-05          0.00
5  A  X  6 2020-01-06          0.00
6  C  Y  6 2020-01-07 -100000000.00
7  B  Y  6 2020-01-08 -100000000.00
8  C  Y  6 2020-01-09 -100000000.00
9  C  Y  6 2020-01-10 -100000000.00

### warunki złożone z `case_when`

In [30]:
a = pd.DataFrame(
    {"column a": np.arange(-5, 6)}
)

a["column b"] = a["column a"].case_when(
    [
        ((a["column a"] < 0) | (a["column a"] > 5), "a is outside the interval [0,5]"),
        ((a["column a"] > 0) | (a["column a"] < 5), "a is within the interval [0,5]"),
        (pd.Series(True), np.nan)
    ]
)

a

    column a                         column b
0         -5  a is outside the interval [0,5]
1         -4  a is outside the interval [0,5]
2         -3  a is outside the interval [0,5]
3         -2  a is outside the interval [0,5]
4         -1  a is outside the interval [0,5]
5          0   a is within the interval [0,5]
6          1   a is within the interval [0,5]
7          2   a is within the interval [0,5]
8          3   a is within the interval [0,5]
9          4   a is within the interval [0,5]
10         5   a is within the interval [0,5]

### Compound Conditions with `if` in pandas

In [31]:
a = pd.DataFrame(
    {"column a": np.arange(-5, 6)}
)

a["column b"] = [
    "a is outside the interval [0,5]" if (i > 5) | (i < 0)
    else "a is within the interval [0,5]" if (i > 1) | (i < 4)
    else "none"  # You can add more conditions as needed
    for i in a["column a"]
]

a

    column a                         column b
0         -5  a is outside the interval [0,5]
1         -4  a is outside the interval [0,5]
2         -3  a is outside the interval [0,5]
3         -2  a is outside the interval [0,5]
4         -1  a is outside the interval [0,5]
5          0   a is within the interval [0,5]
6          1   a is within the interval [0,5]
7          2   a is within the interval [0,5]
8          3   a is within the interval [0,5]
9          4   a is within the interval [0,5]
10         5   a is within the interval [0,5]

In [32]:
a = pd.DataFrame(
    {"column a": np.arange(-5, 6)}
)

a["column b"] = [
    "a is outside the interval [0,5]" if (i > 5) | (i < 0) else "a is within the interval [0,5]"
    for i in a["column a"]
]

a

    column a                         column b
0         -5  a is outside the interval [0,5]
1         -4  a is outside the interval [0,5]
2         -3  a is outside the interval [0,5]
3         -2  a is outside the interval [0,5]
4         -1  a is outside the interval [0,5]
5          0   a is within the interval [0,5]
6          1   a is within the interval [0,5]
7          2   a is within the interval [0,5]
8          3   a is within the interval [0,5]
9          4   a is within the interval [0,5]
10         5   a is within the interval [0,5]

<h3 style="text-align: center;"><strong><code>all()</code>&nbsp; or &nbsp;<code>any()</code></strong></h3>

Additionally, you can use the functions `all()` and `any()`, which represent conjunction and disjunction respectively, for more than two conditions.  
These functions ALWAYS return a single Boolean value.

- `all()` returns `TRUE` if **all** logical statements inside it are true, and `FALSE` otherwise.  
- `any()` returns `TRUE` if **at least one** logical statement is true, and `FALSE` only if **all** evaluated statements are false.

Let’s look at some examples:

In [33]:
# Reminder

A = True
B = False

print(A & B)  # False, because both must be True
print(A | B)  # True, because at least one is True

False
True

In [34]:
(1 + 2 == 3) | (2 > 3) | (not 2 > 3) == any([1 + 2 == 3, 2 > 3, not 2 > 3])

# in any we must use []

True

In [35]:
print((1 + 2 == 3) & (2 > 3) & (not 2 > 3))

print(all([1 + 2 == 3, 2 > 3, not 2 > 3]))

# in all we must use []

False
False

In [36]:
# Creating a range from -5 to 5 (inclusive)
a = np.arange(-5, 6)

# Check if any element in array a is greater than 0
print(any(a > 0))

# Check if ALL elements in array a are greater than 0
print(all(a > 0))

True
False

<h2 style="text-align: center;">Time for Exercises :)</h2>

### Exercise 1

**Task:**

Using the vector below as a starting point, write a conditional statement that displays whether the value is an integer and separately whether it is an even number.  
Use nested conditional statements.

In [39]:
# Your solution
# Starting value
val = 10

# Nested conditional statement
if type(val) == int:
    print("The value is an integer.")
    
    # This inner block only runs if val is an integer
    if val % 2 == 0:
        print("The value is an even number.")
    else:
        print("The value is an odd number.")
else:
    print("The value is not an integer.")  # Make sure it ends here!

The value is an integer.
The value is an even number.

### Exercise 2

**Task:**

Using the vector below as a starting point, write a conditional statement that displays a different message for numbers that are:
1. Negative and even,  
2. Positive and odd,  
3. Others.

Use logical OR and/or AND conditions.

```python
numbers = list(range(-6, 8))

In [40]:
# Your solution
numbers = list(range(-6, 8))

for num in numbers:
    # 1. Negative AND Even
    if num < 0 and num % 2 == 0:
        print(f"{num}: Negative and even")
        
    # 2. Positive AND Odd
    elif num > 0 and num % 2 != 0:
        print(f"{num}: Positive and odd")
        
    # 3. Others (includes 0, negative odd, and positive even)
    else:
        print(f"{num}: Others")

-6: Negative and even
-5: Others
-4: Negative and even
-3: Others
-2: Negative and even
-1: Others
0: Others
1: Positive and odd
2: Others
3: Positive and odd
4: Others
5: Positive and odd
6: Others
7: Positive and odd

### Exercise 3

**Task:**

Write a conditional statement that, for the given variables `a` and `b`, will return:
- their **sum** if they are numbers,  
- their **concatenation** if they are text variables,  
- and the word **"error"** in all other cases.

In [41]:
# Your solution
# Starting variables (you can change these to test)
a = 10
b = 20

# Conditional logic using logical AND and OR
if (isinstance(a, (int, float)) and isinstance(b, (int, float))):
    print(a + b)
elif (isinstance(a, str) and isinstance(b, str)):
    print(a + b)  # This will concatenate the strings
else:
    print("error")

30