In [2]:
import pandas as pd
import os

In [3]:
os.getcwd()

'/Users/ewaweychert/Desktop'

In [5]:
data = pd.read_csv("Book2.csv",     delimiter=",")

data

,country,consumption_2003,consumption_2004,consumption_2005,rate_change,Unnamed: 5
0,Poland,1000,3000,3500,200,200
1,Czecia,2000,4000,4500,100,100
2,Germany,1000,2000,25000,100,100

In [ ]:
def rate_noma(x,y):
    rate = 100*((x-y)/x)-50
    return rate
    
    
# using functions 

data["rate_1"] = rate_noma(x= data["consumption_2003"], y=data["consumption_2004"])
data["rate_2"] = rate_noma(x=data["consumption_2004"], y=data["consumption_2005"])

# not using functions

data["rate_1"] = 100*((data["consumption_2003"] - data["consumption_2004"]))/data["consumption_2004"]-50
data["rate_2"] = 100*((data["consumption_2004"] - data["consumption_2005"]))/data["consumption_2004"]-50


data

,country,consumption_2003,consumption_2004,consumption_2005,rate_change,rate_1,rate_2
0,Poland,1000,3000,3500,200.0,-250.0,-66.666667
1,Czecia,2000,4000,4500,100.0,-150.0,-62.500000
2,Germany,1000,2000,25000,100.0,-150.0,-1200.000000

In [ ]:
# write function that calualate standrd deviation for vector 
# then comapre it with np.std()
# https://en.wikipedia.org/wiki/Standard_deviation