
# Python and SQL (Intro) — Class 1: Introduction to Python

Welcome! This notebook mirrors the main ideas from the first class: **Why Python?**, **Jupyter**, **VS Code**, **calculator use**, **data types**, **libraries**, **file I/O**, **indentation**, **errors**, and **comments**.  
Use it interactively: run code cells, try the mini‑exercises, and experiment freely.


## Why Python?
- **Readable & beginner‑friendly** syntax  
- **Versatile**: scripting, data science, web, ML/AI, automation  
- **Rich ecosystem**: `numpy`, `pandas`, `matplotlib`, `scikit-learn`, `Django`, `Flask`, `FastAPI`, `PyTorch`, `TensorFlow`  
- **Cross‑platform** and **great community**

> Fun fact: the name comes from *Monty Python’s Flying Circus*.


## Jupyter Notebook quick tips
- **Shift + Enter**: run cell, go to next  
- **Ctrl/Cmd + Enter**: run cell, stay  
- **A / B**: insert cell Above/Below (in command mode — press `Esc`)  
- **M / Y**: Markdown / Code  
- **D, D**: delete cell  
- **H**: keyboard shortcut help

In [1]:
print("Hello, Jupyter!")

Hello, Jupyter!


## Visual Studio Code
- Excellent for scripts, packages, apps  
- Built‑in debugger, terminal, Git integration  
- Use notebooks **or** `.py` files; choose what fits your task.


## Python as a calculator
Try a few operations. Predict the result before you run!

In [2]:

2 + 3 * 4        # operator precedence (PEMDAS)

14

In [4]:
# OM
232 + 656

888

In [3]:

10 // 3          # integer (floor) division

3

In [4]:

10 % 3           # remainder (modulo)

1

In [5]:

2 ** 10          # exponentiation

1024


### Mini‑exercise: BMI
Compute Body Mass Index for `weight = 70` (kg) and `height = 1.75` (m).

> **BMI** = weight / height²

In [5]:

# Your turn:
weight = 76
height = 1.85
bmi = weight / (height ** 2)
bmi

22.205989773557338


## Variables & basic data types
Common built‑ins:
- `int`: integers  
- `float`: decimal numbers  
- `str`: text strings  
- `bool`: logical values `True` / `False`

In [7]:

x = 10          # int
y = 3.14        # float
name = "Alice"  # str
is_student = True  # bool

type(x), type(y), type(name), type(is_student)

(int, float, str, bool)


### Type casting (explicit conversions)
Useful when mixing types (e.g., user input from strings).

In [8]:

int("5"), float(3), str(123), bool(0), bool(42)

(5, 3.0, '123', False, True)


### Variables in detail
- Names start with a letter or underscore, then letters/digits/underscores  
- Case‑sensitive  
- Avoid reserved keywords (`for`, `while`, `if`, `class`, `True`, `None`, …)

In [9]:

import keyword
keyword.iskeyword("class"), keyword.iskeyword("hello")

(True, False)


## Working with libraries
Standard & external libraries extend Python.

In [10]:

import math
math.sqrt(16)

4.0


## Importing & saving files

Below are small, self‑contained examples using temporary files.  
> In your projects, replace file paths with real data locations.

### CSV with `pandas`

In [11]:

# import pandas as pd

# # Create a small DataFrame
# df = pd.DataFrame({"name": ["Alice", "Bob"], "score": [90, 85]})
# csv_path = "example.csv"
# df.to_csv(csv_path, index=False)

# # Read it back
# pd.read_csv(csv_path)

In [12]:
import sys, pkgutil, platform
print("Kernel:", sys.executable)
print("Python:", platform.python_version())
print("Has pandas?", pkgutil.find_loader("pandas") is not None)

Kernel: /opt/homebrew/opt/python@3.13/bin/python3.13
Python: 3.13.7
Has pandas? True

/var/folders/vc/w02fqcd173b_gsf7prxlrtc00000gp/T/ipykernel_34513/1822089515.py:4: DeprecationWarning: 'pkgutil.find_loader' is deprecated and slated for removal in Python 3.14; use importlib.util.find_spec() instead
  print("Has pandas?", pkgutil.find_loader("pandas") is not None)

In [13]:
# !pip install pandas

import pandas as pd
pd.__version__

# Create a small DataFrame
df = pd.DataFrame({"name": ["Alice", "Bob"], "score": [90, 85]})
print(df)
csv_path = "example.csv"
df.to_csv(csv_path, index=False)

# Read it back
x = pd.read_csv(csv_path)
print(x)

    name  score
0  Alice     90
1    Bob     85
    name  score
0  Alice     90
1    Bob     85

### Plain text (TXT)

In [14]:

txt_path = "note.txt"
with open(txt_path, "w", encoding="utf-8") as f:
    f.write("Hello Python!\nThis is a text file.")

with open(txt_path, "r", encoding="utf-8") as f:
    print(f.read())

Hello Python!
This is a text file.

### Excel (`.xlsx`) with `pandas`

In [15]:

# Writing/reading Excel require 'openpyxl' in most environments.
xlsx_path = "example.xlsx"
df.to_excel(xlsx_path, index=False)

pd.read_excel(xlsx_path)

ModuleNotFoundError: No module named 'openpyxl'

In [16]:
# pip3 install openpyxl
# pip install openpyxl


# Writing/reading Excel require 'openpyxl' in most environments.
xlsx_path = "example.xlsx"
df.to_excel(xlsx_path, index=False)

pd.read_excel(xlsx_path)

    name  score
0  Alice     90
1    Bob     85

### JSON

In [17]:

import json

data = {"users": [{"id": 1, "name": "Alice"}, {"id": 2, "name": "Bob"}]}
json_path = "data.json"
with open(json_path, "w", encoding="utf-8") as f:
    json.dump(data, f)

with open(json_path, "r", encoding="utf-8") as f:
    loaded = json.load(f)
loaded

{'users': [{'id': 1, 'name': 'Alice'}, {'id': 2, 'name': 'Bob'}]}


## Indentation — whitespace matters
Python uses indentation to define **code blocks**.

In [18]:

x = 3
if x > 0:
    print("Positive")

Positive


## Errors — syntax vs runtime
- **SyntaxError**: code violates language rules (caught before running)  
- **RuntimeError / Exceptions**: happens **during** execution

In [19]:

# Example: ZeroDivisionError (runtime)
try:
    5 / 0
except ZeroDivisionError as e:
    print("Caught:", e)

Caught: division by zero


## Comments
Use `#` for single‑line comments. Use triple quotes `""" ... """` for docstrings.

In [21]:

# This is a comment
def greet(name):
    """Return a friendly greeting."""
    return f"Hello, {name}!"

greet("World")

'Hello, World!'


## Quick quiz (multiple choice)

**Q1.** What is the main reason Python requires indentation in code blocks?  
A) Improve performance B) Only readability C) Define structure/logic D) Separate comments  
**Answer:** C

**Q2.** Which data types are built‑in to Python?  
A) `int` B) `float` C) `str` D) `decimal`  
**Answer:** A, B, C

**Q3.** Which statement about Python is correct?  
A) No floating‑point support. B) Requires `{}` for blocks. C) Jupyter can't show plots/images. D) **None of the above**  
**Answer:** D


## Practice — small tasks
1. Compute the compound amount for principal=1000, rate=5% (0.05), years=3.  
2. Create a DataFrame of three students with columns: `name`, `age`, `grade`. Save to CSV and read it back.  
3. Write a function `is_even(n)` that returns `True` if `n` is even.  
4. Use `try/except` to catch invalid integer input from a string like `"42a"`.

In [22]:

# 1) Compound amount
principal = 1000
rate = 0.05
years = 3
amount = principal * (1 + rate) ** years
amount

1157.6250000000002

In [23]:

# 2) DataFrame save & load
import pandas as pd

students = pd.DataFrame({
    "name": ["Ana", "Ben", "Cara"],
    "age": [21, 22, 20],
    "grade": ["A", "B", "A-"]
})
students.to_csv("students.csv", index=False)
pd.read_csv("students.csv")

   name  age grade
0   Ana   21     A
1   Ben   22     B
2  Cara   20    A-

In [24]:

# 3) is_even function
def is_even(n: int) -> bool:
    return n % 2 == 0

[is_even(i) for i in range(6)]

[True, False, True, False, True, False]

In [25]:

# 4) Safe integer parsing
def try_parse_int(s: str):
    try:
        return int(s)
    except ValueError:
        return None

try_parse_int("42"), try_parse_int("42a")

(42, None)


## Wrap‑up
- Python is simple, powerful, and broadly used  
- Jupyter helps you explore; VS Code helps you engineer  
- Practice: arithmetic, data types, libraries, files, and error handling

**Next steps:** Extend this notebook with your own examples, explore `pandas` and `numpy`, and try building a small data story with plots.